@font-face
{
     font-family: 'SquimFont';
     src: url('/Font/SquimFont.ttf');
}

input {
	font-family: SquimFont, monospace;
	font-size:15px;
	
}

body{
	font-family: SquimFont, monospace;
	font-size:15px;
	color: #CBC5C1;
	background-color:black;
	background-image: url("/img/bg_tile.jpg");
	background-repeat: repeat;
}

.maincontainer {
	width:773px;
	height:470px;
	position: absolute;
	top: 0px;
	bottom:300px;
    left: 800px;
    right: 0px;
    margin: auto;
	background-color:#0d2030;
	z-index: 1;
}
.insidecontainer
{
	width:763px;
	height:399px;
	position: absolute;
	top: 0px;
	bottom:300px;
    left: 800px;
    right: 0px;
    margin: auto;
	background-image: url("/img/Jill.gif");
	background-color:#0d2030;
	z-index: 2;
}

.Workcontainer
	{
	width:367px;
	height:58px;
	position: absolute;
	top: 0px;
	bottom:800px;
    left: 395px;
    right: 0px;
    margin: auto;
	background-color:#0d2030;
	}
.WorkIncontainer
	{
	width:341px;
	height:44px;
	position: absolute;
	top: 0px;
	bottom:800px;
    left: 395px;
    right: 0px;
    margin: auto;
	background-color:black;
	}
.Shopcontainer
	{
	width:367px;
	height:58px;
	position: absolute;
	top: 0px;
	bottom:800px;
    left: 1150px;
    right: 0px;
    margin: auto;
	background-color:#0a1520;
	}
.ShopIncontainer
{
	width:341px;
	height:44px;
	position: absolute;
	top: 0px;
	bottom:800px;
    left: 1150px;
    right: 0px;
    margin: auto;
	background-color:black;
	}

.TextBox
{
	width:776px;
	height:242px;
	position: absolute;
	top: 540px;
	bottom:100px;
    left: 800px;
    right: 0px;
    margin: auto;
	background-color:white;
}
.TextBox2
{
	width:769px;
	height:231px;
	position: absolute;
	top: 540px;
	bottom:100px;
    left: 800px;
    right: 0px;
    margin: auto;
	background-color:black;
}
.Phonecontainer
	{
	width:558px;
	height:796px;
	position: absolute;
	top: 0px;
	bottom:100px;
    left:  0px;
    right: 1000px;
    margin: auto;
	background-color:#efe8e8;
}
.PhContainer
	{
	width:538px;
	height:758px;
	position: absolute;
	top: 180px;
	bottom:100px;
    left:  10px;
    right:600px;
    margin: auto;

}
.dump
	{
	width:538px;
	height:758px;
	position: absolute;
	top: 0px;
	bottom:100px;
    left:  0px;
    right: 1000px;
    margin: auto;
	background-image: url("/img/Boss&me.png");
	font-size:33px;
	text-align: center;

	
	

}


.Phbuttons
	{
	width:538px;
	height:87px;
	position: absolute;
	top: 730px;
	bottom:100px;
    left:  10px;
    right: 1000px;
    margin: auto;
	background-color:black;
	z-index: 999;
}

.button {
	width:73px;
	height:49px;
	position: absolute;
	left: 30px;
	top: 10px;
	margin-right:2px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-image: url("/img/button.png");
}

.button:hover {
	background-color:#aaaaaa!important;
}

.buttontwo {
	width:88px;
	height:49px;
	position: absolute;
	left: 210px;
	top: 10px;
	margin-right:2px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	background-image: url("/img/button2.png");
}

.buttontwo:hover {
	background-color:#aaaaaa!important;
}


}




.text {
	line-height:18px;
	font-family: SquimFont, monospace;
	text-align:center-left;
	font-size:19px;
	width:800px;
	padding-left:3px;
	padding-right:3px;
	margin-left:auto;
	margin-right:auto;
}


	
	ul {
	width:300px;
	list-style-type:none;
	float:left;
	padding-left:0px;
	padding-right:0px;
	margin-left:18px;
	margin-right:18px;
	color: yellow;
}

	li {
	text-align:center;
	padding-left:3px;
	padding-right:3px;
	height:16px;
	line-height:16px;
	 
}

li:hover {
	background-color:black;
}

a {
	text-decoration:none;
	font-size:16px;
	height:12px;
	line-height:12px;
	color:yellow;
	 
}

a:hover {
	text-decoration:underline;
}

.clink {
	font-size: 32px;
	text-decoration:none;
	line-height: 16px;
	color:yellow;
}

.clink:hover{
	text-decoration:underline;
}


	}
